<!DOCTYPE html>
<html lang="vi">
    <%-include('partials/head')%>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <%-include('partials/left_col')%>
                <%-include('partials/top_nav')%>
                <%-include(main)%>
                <%-include('partials/footer')%>
            </div>
        </div>
        <%-include('partials/script')%>
    </body>
</html>